<%= link_to products_path do %>
<h1 class="text-red-400 hover:text-blue-400 animate-bounce sm:bg-green-400"><%= t('TicoStore') %></h1>
<% end %>
<%= link_to t('.add'), new_product_path %>
<%= link_to t('.categories'), categories_path %>
