<div> 
    <% if(Current.user)  %>
        <%= link_to home_page_path do %>
            <%= image_tag "tokay.png", class: "logo" %>
        <% end %>
    <% else%>
        <%= link_to root_path do %>
            <%= image_tag "tokay.png", class: "logo" %>
        <% end %>
    <% end%>
</div>