  <header>
     <nav
        class="
          flex flex-wrap
          items-center
          justify-between
          w-full
          py-4
          md:py-0
          px-4

        "
      >
       <div> <%=link_to products_path, class: "text-fuchsia-800 hover:text-fuchsia-600" do%>
        <h1>Sex shop</h1>
        <% end %>
        </div>
    </nav>
  </header>
  