<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing suscription</h1>

  <%= render "form", suscription: @suscription %>

  <%= link_to "Show this suscription", @suscription, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to suscriptions", suscriptions_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
