<div class="flex-container center"> 
  <div class="gato">
    <h1 class="font-bold text-4xl">Caja Roja </h1>
  </div>

  <div class="perro">
    <h1 class="font-bold text-4xl">Caja Verde </h1>
  </div>

  <div class="elefante">
    <h1 class="font-bold text-4xl">Caja Azul </h1>
  </div>
</div>
