.flex-container {
	display: -webkit-box;
	/* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox;
	/* TWEENER - IE 10 */
	display: -webkit-flex;
	/* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: flex;
	/* NEW, Spec - Firefox, Chrome, Opera */
	align-content: center;

}

.center {
	justify-content: center;
	align-items: center;
}

.box {
	background-color: white;
	border-radius: 6px;
	height: 425px;
	width: 250px;
	box-sizing: border-box;
	box-shadow: 0 0 6px 0 rgb(0 0 0 / 15%);
	display: flex;
	max-width: 375px;
	height: 100%;
	position: relative;
	transition: 0.3s ease-in-out;
	transition-property: box-shadow, border;
}

.box img {
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 200px;
}

.box-header {
	position: relative;
}

.box-body {
	position: relative;

	display: flex;
	align-content: space-between;
	flex-wrap: wrap;
	height: 100%;
}