<h2>Articulos:</h2>

<% @products.each do |product| %>

<%= link_to product_path(product), class: 'product' do%>
    <h3><%= product.title %></h3>
    <span><%= product.price %>$</span> 
<% end %>

<% end %>

